# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Logs
*.log

# Environment
.env
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
coverage
.vercel

